@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 600;
}

body {
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #303030;
  margin: 0 auto;
}

h3 {
  font-size: 20px;
  color: #303030;
}

#header {
  display: inline-block;
  width: 100%;
  height: 90px;
  text-align: center;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80vw;
  margin: 0 auto;
  background-color: #ffffff;
}

.logo {
  width: 90px;
  overflow: hidden;
}

.logo img {
  width: 100%;
}

.navbar {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: start;
}

.navbar a {
  margin-left: 32px;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 2px;
  color: #303030;
}

.navbar::after {
  content: "";
  width: 20px;
  display: inline-block;
}

.icon img {
  margin-left: 32px;
}

.btn {
  width: 280px;
  height: 57px;
  margin-top: 166px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid transparent;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f8f6ee;
  cursor: pointer;
}

.btn:focus {
  border: 2px solid blue;
}

.homeTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  width: 80vw;
  height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home_left {
  margin: 80px 0 20px 0;
}

.home_left img {
  width: 360px;
  margin-bottom: 20px;
}

.home_left p {
  font-size: 18px;
  letter-spacing: 2px;
}

.home_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home_t_box {
  background: #f8f6ee;
  width: 96px;
  height: 600px;
  position: absolute;
  z-index: 1;
  left: 55%;
}

.home_r_img01 {
  width: 396px;
  height: 238px;
  position: absolute;
  overflow: hidden;
  bottom: 3%;
  left: 40%;
  z-index: 3;
}

.home_r_img01 img {
  max-width: 100%;
  border: #ffffff 6px solid;
}

.home_r_img02 {
  width: 440px;
  height: 492px;
  margin-right: 36px;
  z-index: 2;
  margin-top: 80px;
}

.home_r_img02 img {
  max-width: 100%;
}

#section {
  margin: 0 auto;
  width: 80vw;
  height: 100vh;
}

.sec_top {
  text-align: center;
  letter-spacing: 2px;
  margin: 137px 0 94px 0;
  line-height: 32px;
}

.sec_box {
  width: 96px;
  height: 768px;
  background: #f2f6f7;
  position: absolute;
  z-index: 1;
  right: 20%;
  top: 120%;
}

.sec_bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sec_bot_fimg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 615px;
  height: 270px;
  background-image: url(../img/pic0602.jpg);
  position: relative;
  z-index: 2;
  left: 5%;
}

.sec_bot_simg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 655px;
  height: 337px;
  background-image: url(../img/pic06.jpg);
  z-index: 3;
  margin: 44px 47px 0 0;
}

#main {
  background-color: #f2f6f7;
  height: 724px;
  text-align: center;
}

#main a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 2px;
  color: #303030;
}

#main a:before {
  content: "view more";
  vertical-align: middle;
}

p {
  display: inline-block;
  letter-spacing: 2px;
  line-height: 32px;
  font-size: 18px;
  margin: 86px 0 58px 0;
}

.picture {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80vw;
}

.main_img_in {
  width: 280px;
  overflow: cover;
}

.main_img_in img {
  width: 100%;
}

.main_img {
  overflow: hidden;
  text-align: start;
  margin-bottom: 56px;
  width: 280px;
}

.main_img span {
  font-size: 12px;
  color: #303030;
}

#article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80vw;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

#article p {
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 32px;
}

#article img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h2 {
  font-size: 24px;
  margin-bottom: 42px;
}

.article_img {
  width: 383px;
  height: 532px;
}

.article_box {
  width: 88px;
  height: 372px;
  background-color: #f8f6ee;
  position: absolute;
  z-index: 1;
  left: 44%;
}

.article_work {
  z-index: 2;
  margin: 108px 0 0 55px;
}

.article_work a {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 108px;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 2px;
  color: #303030;
  bottom: 0;
}

.article_work a:before {
  content: "view more";
}

#aside {
  width: 80vw;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 2px;
}

#aside p {
  color: #303030;
  font-size: 18px;
  margin: 195px 0 54px 0;
}

#aside img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.aside_bot_a a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 64px 0;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 2px;
  color: #303030;
  bottom: 0;
}

.aside_bot_a a:before {
  content: "view more";
}

.aside_img {
  width: 280px;
  height: 252px;
  margin: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.aside_img a {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  line-height: 252px;
  background-color: rgba(0, 0, 0, 0.7);
}

.aside_img a::before {
  content: 'more';
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 2px;
  color: #303030;
  color: white;
}

.aside_img:hover a {
  display: block;
}

.aside_img_sen {
  width: 280px;
  height: 205px;
  margin: 10px;
}

.aside_img-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.connection {
  height: 600px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/iqA2-nRO0bQ-2.jpg);
}

.connection .conn_inp {
  margin-top: 24px;
}

.connection input {
  width: 280px;
  height: 37px;
  border-radius: 4px;
  border: 1px solid transparent;
  outline-style: none;
  padding: 8px;
}

.connection input[placeholder] {
  font-size: 14px;
}

.connection .conn_left {
  margin-right: 120px;
}

.connection .conn_left a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 2px;
  color: #303030;
  bottom: 0;
  margin-top: 30px;
}

.connection .conn_left a:before {
  content: "確認送出";
}

.connection .conn_right {
  width: 380px;
  height: 496px;
}

.connection .conn_right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  height: 91px;
  background-color: #303030;
  text-align: center;
  padding: 33px 0;
}
/*# sourceMappingURL=style.css.map */